@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style-type: none
    font-family: 'Protest Strike', sans-serif

html
    font-size: 62.5%

    body
        background-color: variables.$light
        @include mixins.flex-column

        section
            max-width: 100vw
            @include mixins.flex-column
            margin-bottom: 7.77rem

        h1
            font-size: 5rem
            color: variables.$h-color
            letter-spacing: .025rem

        .alvinegro
            @include mixins.alvinegro-text

        .gradient
            @include mixins.gradient-text

        h2
            font-size: 4rem
            color: variables.$h-color
            letter-spacing: .025rem

        h3
            font-family: "Poppins", sans-serif
            font-size: 3rem
            color: variables.$h-color
            letter-spacing: .025rem

        h4
            font-family: "Poppins", sans-serif
            font-size: 2.5rem
            color: variables.$h-color

        p
            font-family: "Poppins", sans-serif
            font-size: 1.75rem
            color: variables.$p-color
            font-weight: 400

        span
            font-family: "Poppins", sans-serif
            font-size: 1.5rem
            color: variables.$p-color
            letter-spacing: .025rem
            font-weight: 500

        button
            cursor: pointer
            @include mixins.btn
            letter-spacing: .025rem

        button:active
            position: relative
            top: 1px

        button:hover
            filter: opacity(.666)

        strong
            color: variables.$h-color
            font-size: 2rem
