$dark: #1b1e23
$darker: #1c1c1c
$light: #f9fafc
$lighter: #f9fafc
$black: black
$white: white
$neon-red: #FF3131
$carmesim-red: #DC143C
$h-color: #333
$p-color: #555
$bottom-shadow: 0 4px 4px rgba(0, 0, 0, .25)
$shadow: 0 0 4px rgba(0, 0, 0, .25)
$gradient: linear-gradient(90deg, #FF3131, #DC143C)
$inverse-gradient: linear-gradient(to right,#DC143C, #FF3131)
$gradient-linkedin: linear-gradient(90deg, #00d2ff, #3a7bd5)
$gradient-github: linear-gradient(90deg, #232526, #414345)
$gradient-instagram: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045)
$gradient-x: linear-gradient(90deg, #232526, #414345)
$gradient-youtube: linear-gradient(90deg, #e52d27, #b31217)
$gradient-facebook: linear-gradient(90deg, #00c6ff, #0072ff)
$gradient-discord: linear-gradient(90deg, #8E2DE2, #4A00E0)
$gradient-whatsapp: linear-gradient(90deg, #56ab2f, #a8e063)
