@use '../../../variables'
@use '../../../mixins'
@use '../../icons'

.section-skills
    @include mixins.flex-column
    gap: 4.44rem
    max-width: 1300px
    margin: 0 auto

    .container-skills
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 4rem

        .container-concepts
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 4rem 4rem
            padding: 0 1rem

            .concept
                @include mixins.flex-column
                gap: 2rem

                p
                    font-size: 1.6rem
                    line-height: 2.75rem

                strong
                    @include mixins.gradient-text

        .container-invite
            background: variables.$carmesim-red
            background-image: linear-gradient(to right, variables.$neon-red 1px, transparent 1px), linear-gradient(to bottom, variables.$neon-red 1px, transparent 1px)
            background-size: 5rem 5rem
            @include mixins.flex-column
            justify-content: center
            text-align: center
            gap: 2.5rem 0
            padding: 3.5rem
            border-radius: .5rem
            box-shadow: variables.$bottom-shadow

            h3,p,a
                color: white
                filter: drop-shadow(variables.$bottom-shadow)

            a
                z-index: 1
                position: relative
                font-size: 2.5rem
                text-decoration: underline
                width: fit-content
                margin: 0 auto
                transition: .25s ease-in-out

            a:hover
                color: variables.$carmesim-red

            a:before
                z-index: -1
                content: ''
                position: absolute
                height: 100%
                width: 0
                right: 0
                background: white
                transition: width .333s ease

            a:hover:before
                left: 0
                width: 100%

    @media screen and ( max-width: 1330px )
        padding: 0 2rem

    @media screen and ( max-width: 1065px )
        gap: 3.33rem

        .container-skills
            grid-template-columns: 1fr

            .container-concepts
                margin-bottom: 3.33rem

    @media screen and ( max-width: 525px )
        .container-skills
            .container-concepts
                grid-template-columns: 1fr
